

body{
    background:linear-gradient(to right, #410e42, #0b0533);
    color: aliceblue;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

h1{
    color:#A5B4FC;
    font-size: 3.5em;
    font-family: montserrat;
    text-shadow: 0.1em 0.1em 0em  #0b0533;
    text-align: justify;
}
h2{
    font-family: montserrat;
    text-decoration: underline;
}
h3{
    font-family: montserrat;
    font-weight: 400;
}

p{
    font-family: manrope;
    font-size: 1.1em;
}

em{
    color: #A5B4FC;
    font-size: 1em;
}


li{
    font-family: manrope;
    font-size: 1em;
}

a{
    color: black;
    text-decoration: none;
}
a:focus{
    background-color: #ACAEED;

}
header, footer{
    padding: 1em 3em 1em 3em;
    margin: 5em 3em 1em 3em;
}

td, th{
    border: 0.1em solid #8788BA;
    padding: 2.5% 5% 2.5% 5%;
    width: 15%;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin:auto;
}
caption{
    margin-bottom: 5%;
    font-size: 2em;
}

.block{
    text-align: justify;
    width: auto;
    /* margin: auto; */
    margin: 1.5em;
    margin-top: 0.25em;
    margin-left: 0em;
    padding: 1.5em;
    padding-top: 0.25em;
    padding-left: 0em;
    /* background:linear-gradient(#8E86B5, #ACAEED); */
}

.link{
    color:aliceblue;

    text-decoration: none;
    font-size: 1em;
    font-family: manrope;
}
.link:hover{
    text-decoration: underline;
    color: pink;
}

.link:visited{
    color:pink;
}

.top_bar, .bott_bar{
    color:black;
    background-color: white;
    background-size: cover;
    background-attachment: local;
    padding: 0.8em 5em .8em 5em;
    margin: 2em 0em 2em 0em;
}

header{
    position:sticky;
    top:0;
    z-index: 3;
}

.about_png{
    width: 2%;
    background: linear-gradient( #8E86B5, #ACAEED);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0.4em .4em 0em #0b0533;
}
.about_png:hover{
    width: 2.3%;
    background:linear-gradient(#696484, #8788BA);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0.6em .6em 0em #0b0533;

}
.pmg_a:active{
    width: 1%;
    background:linear-gradient(#696484, #8788BA);
    opacity: 100%;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0em #0b0533;
}
.png{
    width: 2%;
}

.rotation{
    width: 20%;
    border-radius: 50em;
    border: auto solid black;
    align-items: center;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.robbie_picture{
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    position: relative;
    top:101.5%;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s;
}

.robbie_picture:hover{
    opacity: 0%;

    transition: opacity 0.3s;
}

.dm{
    background:linear-gradient(#696484, #8788BA);
    color: aliceblue;
    border-radius: 50em;
    margin: auto;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 1;
}

#logo{
    width: 4%;
}
#logo:hover{
    opacity: 50%;
}

.port, .portfolio{
    background:linear-gradient(#8E86B5, #ACAEED);
    font-family: manrope;
    color: white;
    border-radius: 2em;
    padding: 1em 1em 1em 1em ;

}

.port:hover,.portfolio:hover{
    background:linear-gradient(#696484, #8788BA);
}

.details{
    font-size: 0.8em;
}

.about_paragraph, .description{
    width: 75%;
    padding: 4em;
    text-align: justify;
    border-color: #0b0533;
}

.home_page_services{
    padding:0em 1em 0em 3em;
}
.description{
    width: 40%;
    padding-top: 1em;
    text-align: justify;
    margin-left: auto;
    box-shadow: 0.05em .1em 0em #e7d4ea;

}
.portfolio{
    justify-self: center;  
    align-self: center;
    order:1;
    margin-left: 6.8%;
    position: relative;
    bottom: 2em;
    left: 30em;

}
.navigation{
    margin: auto;
    margin-right: 16%;
    
}
.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    justify-items: center;
}
.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.preview_pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.pic {
    background-color: aliceblue;
    border-radius: 10px;
    border: auto solid black;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    width: 300px;
    height: 300px;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

.pf_title, .preview_title{
    color: #0b0533;
    background-color: aliceblue;
    margin: 5% 0 0 5%;
}

.preview_title{
    text-align: center;
}
.pf, .preview{
    background-color: aliceblue;
    padding-top: 2em;
    padding-bottom: 2em;
}

.pic1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pic5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pic6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pic7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pic:hover {
    opacity: 50%;
}

.hover_text {
    position: absolute;
    color: #0b0533;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 5em;
}

.pic:hover .hover_text {
    opacity: 1;
}


